body{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}
.main{
    display: flex;
    flex-direction: column;
}

h1{
    font-size: 48px;
    font-weight:bolder;
    color:#f9faf8;
    margin: 0;
}

h2{
    font-size:36px;
    font-weight: bolder;
    color:#1f2937;
}

h3{
    font-size:24px;
    font-weight: bolder;
    color:#f9faf8;
    margin:0;
}

.footer, .header{
    display:flex;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.header .logo {
    font-size:24px;
    font-weight: bolder;
    flex-grow:3;
    color:#f9faf8;
}
.header .right-links{
    align-content:flex-end;
    display:flex;
    gap: 30px;
    list-style-type: none;
    padding:0px;
}

.footer a{
    color:#e5e7eb;
    font-size: 18px;
}

.right-links a{
    color:#e5e7eb;
    font-size: 18px;
}

.header, .hero-block, .footer {
    background-color: #1f2937;
}

.header, .footer, .call-to-action-block {
    padding: 0px 300px;
}

a{
    text-decoration: none;
}

.hero-block{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 300px;
}

.sub-block-one p{
    font-size: 18px;
    color:#e5e7eb;
    margin:10px 0px;
    width: 500px;
}

.image{
    display: flex;
}

.button{
    background-color: #3882F6;
    padding: 5px 25px;
    border-radius:12px;
    color:#f9faf8;
    font-size:24px;
    font-weight: bold;
    border:0;
}

.image img {
    width: 700px;
    height: 300px;
}

.information-block {
    text-align:center;
    padding:10px 300px;
    padding-bottom:50px;
}

.info{
    display: flex;
    justify-content: center;
    gap:40px;
}

.info img{
    height: 200px;
    width: 200px;
    border:solid;
    border-radius:12px;
    border-color:#3882F6;
}

.card{
    height:300px;
    width: 220px;
}
.text{
    color:#606875;
    font-size: 18px;
}

.quote-block{
    display: flex;
    flex-direction: column;
    padding:100px 450px;
    background-color:#e5e7eb;
}

#quote {
    text-align:justify;
    font-size:36px;
    font-style:italic;
    font-weight:300;
    color:#1f2937;
    margin:0;
}
#quote-author {
    text-align:right;
    font-size:28px;
    font-weight:600;
    color:#1f2937;
    margin-top:10px;
}

.call-to-action-block{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:100px 300px;
}
.call-to-action{
    display: flex;
    justify-content:space-between;
    padding: 50px 150px;
    border-radius:12px;
    background-color: #3882F6;
    align-items: center;
    flex:1;
}

.call-to-action .button{
    border-color:#f9faf8;
    border:solid;
    flex-shrink: 0;
}

.call-to-action .sub-block-one p{
    font-size: 18px;
    color:#e5e7eb;
    margin:5px 0px;
    width: auto;
}